@mixin flex($para1, $para2, $para3, $para4) {
    display: flex;
    justify-content: $para1;
    align-items: $para2;
    gap: $para3;
    flex-direction: $para4;
}

@mixin size($para1, $para2, $para3, $para4) {
    width: $para1;
    height: $para2;
    padding: $para3 $para4;
}

@mixin font ($para1, $para2, $para3, $para4, $para5) {
    // for font styling
    font-weight: $para1;
    font-size: $para2;
    line-height: $para3;
    color: $para4;
    width: $para5;
}

@mixin position($para1, $para2, $para3, $para4) {
    position: absolute;
    top: $para1;
    bottom: $para2;
    left: $para3;
    right: $para4;
}

@mixin d-box($para1, $para2, $para3, $para4) {
    height: $para1;
    width: $para2;
    padding: $para3;
    border-radius: $para4;
}

@mixin button($para1, $para2, $para3, $para4, $para5) {
    height: $para1;
    width: $para2;
    padding: $para3;
    border-radius: $para4;
    background-color: $para5;
    cursor: pointer;
    border: none;
}

@mixin all-container {
    margin: 6rem 0;
    padding: 0px 6rem;
    @include flex(center, center, 100px, column);
    flex-wrap: wrap;
}

@mixin all-header {
    @include flex(null, center, 20px, column);
    flex-direction: column;
    text-align: center;

    h2 {
        @include font(600, 40px, 40px, #24272E, null);
        @include from-left();
    }

    p {
        @include font(400, 18px, 27px, #667085, null);
        @include come-up();
    }
}

@mixin image($para1, $para2) {
    width: 100%;
    height: $para1;
    object-fit: $para2;
}

@mixin profileImg($para1, $para2) {
    width: $para1;
    height: $para2;
    border-radius: 50%;

}

@mixin inputBox($para1, $para2, $para3, $para4) {
    border: 2px solid #fff;
    resize: none;
    @include d-box($para1, $para2, $para3, $para4);

    &:focus {
        outline: none;
        border: 2.5px solid #81722d;
    }
}

@mixin header-small {
    gap: 5px;

    h2 {
        @include font(500, 35px, 40px, #24272E, null);
    }

    p {
        @include font(350, 15px, 27px, #667085, null);
    }
}

@mixin header-smaller {
    gap: 3px;

    h2 {
        @include font(500, 25px, 40px, #24272E, null);
    }

    p {
        @include font(350, 15px, 27px, #667085, null);
    }
}

@mixin fade {
    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    animation: fade 1s;
}

@mixin come-down {
    @keyframes down {
        0% {
            opacity: 0;
            transform: (translateY(-30px))
        }

        100% {
            opacity: 1;
            transform: (translateY(0px));
        }
    }

    animation: down 0.7s;
}

@mixin from-left {
    @keyframes left {
        0% {
            opacity: 0;
            transform: (translateX(-30px))
        }

        100% {
            opacity: 1;
            transform: (translateX(0px));
        }
    }

    animation: left 1s;
}

@mixin from-right {
    @keyframes right {
        0% {
            opacity: 0;
            transform: (translateX(30px))
        }

        100% {
            opacity: 1;
            transform: (translateX(0px));
        }
    }

    animation: right 1s;
}

@mixin come-up {
    @keyframes come-up {
        0% {
            opacity: 0;
            transform: (translateY(30px))
        }

        100% {
            opacity: 1;
            transform: (translateY(0px));
        }
    }

    animation: come-up 1s;
}

@mixin loader-container() {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #282828;
}

@mixin spinner() {
    margin-top: 15px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1.5px 0 0 1.5px #c7b66b;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {}

    100% {
        transform: rotate(360deg);
    }
}