@import 'mixin.scss';

.banner-container {
    @include all-container();
    padding: 0px;
    position: relative;

    .banner-img {
        @include image(350px, cover);
        filter: brightness(20%);
    }

    .banner-content {
        @include flex(center, center, 35px, column);
        text-align: center;
        @include position(0, 0, 0, 0);
        flex-wrap: wrap;

        h3 {
            @include font(600, 40px, 40px, #c7b66b, 33rem);
        }

        button {
            @include font(bold, 20px, null, #ffff, null);
            @include button(50px, 19rem, 10px, 3px, #94652b);
        }

        button:hover {
            background: #775122;
        }
    }
}

@media only screen and (max-width:600px) {
    .banner-container {
        .banner-content {
            h3 {
                width: 300px;
                font-size: 35px;
            }
        }
    }
}

@media only screen and (max-width:500px) {
    .banner-container {
        margin: 4rem 0;

        .banner-content {
            h3 {
                @include font(500, 30px, 35px, #c7b66b, 22rem);
            }

            button {
                @include font(bold, 15px, null, #ffff, null);
                @include button(50px, 15rem, 10px, 3px, #94652b);
            }
        }
    }
}

@media only screen and (max-width:419px) {
    .banner-container {
        .banner-content {
            h3 {
                @include font(400, 25px, 40px, #e3d285, 15rem);
            }

            button {
                @include font(bold, 13px, null, #fff, null);
                @include button(40px, 13rem, 10px, null, #94652b);
            }
        }
    }
}