@import 'mixin.scss';

.contact-container {
    background-color: #181818;
    padding: 6rem 6rem;
    @include flex(center, null, 100px, column);

    .contact-header {

        @include flex(center, center, 20px, column);

        h2 {
            @include font(600, 40px, 40px, #c7b66b, null);
        }

        p {
            @include font(400, 18px, 27px, #ad9f5e, null);
            text-align: center;
        }
    }

    .contact-content {
        @include flex(space-between, null, null, null);
        flex-wrap: wrap;

        .contact-map {
            @include flex(null, null, 7px, column);
            margin-bottom: 1rem;

            .svglocate {
                margin-bottom: 1rem;
            }

            p {
                @include font(400, 18px, 27px, #667085, null);
            }
        }

        Form {
            @include flex(center, center, 2rem, column);
            flex-wrap: wrap !important;

            .form-box {
                @include flex(center, null, 2rem, null);
                flex-wrap: wrap;

                .input-container {
                    @include flex(space-between, null, null, column);
                    min-height: 14rem;
                }

            }

            .button-div {
                text-align: center;

                .form-button {
                    @include font(bold, 20px, null, #ffff, null);
                    @include button(50px, 19rem, 10px, 3px, #94652b);

                    &:hover {
                        background: #775122;
                    }


                }
                p{
                    margin-top: 1rem;
                    @include font(400, 18px, 27px, #a16c2b, null);
                }
            }
        }
    }

}

@media only screen and (max-width:1150px) {
    .contact-container {
        .contact-content {
            @include flex(center, null, 2rem, null);
            text-align: center;

            .contact-map {
                .svglocate {
                    margin: 0 auto;
                }

            }
        }

    }
}

@media only screen and (max-width:500px) {
    .contact-container {
        gap: 50px;

        .contact-header {
            @include header-small();

            h2 {
                color: #c7b66b;
            }

            p {
                color: #ad9f5e;
            }
        }

        .contact-content {
            .contact-map {
                p {
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            Form {

                .form-box {
                    gap: 1rem;

                    .input-container {
                        min-height: 11rem;

                        input {
                            @include inputBox(2rem, 13rem, 5px, 5px);
                        }
                    }

                    .textbox-container {
                        textarea {
                            @include inputBox(12rem, 13rem, 5px, 5px);
                        }
                    }
                }

                .button-div {
                    .form-button {
                        @include button(40px, 13rem, 10px, 3px, #94652b);
                        font-size: medium;
                    }
                    p{
                        @include font(400, 15px, 27px, #a16c2b, null);
                    }
                }
            }
        }
    }

}

@media only screen and (max-width:416px) {
    .contact-container {
        padding: 2rem 0px;
        gap: 50px;

        .contact-header {
            @include header-smaller();

            h2 {
                color: #c7b66b;
            }

            p {
                color: #ad9f5e;
            }
        }
    }
}