@import 'mixin.scss';

.page-load {
    width: 100%;
    height: 85vh;
    background-color: #282828;
    @include flex(center, center, nul, null);

    .spinner-1 {
        @include spinner(80px, #fff);
        @include rotate(3s, -360deg);
        position: relative;

        .spinner-2 {
            @include spinner(60px, #c7b66b);
            @include rotate(2s, 360deg);
            position:relative;
            position: absolute;
            left: -100px;

            .spinner-3 {
                @include spinner(40px, #fae898);
                @include rotate(1s, 360deg);
                position: absolute;
                left: -50px;

            }
        }

    }
}