@import 'mixin.scss';

* {
  margin: 0;
}

.navbar-container {
  @include flex(space-between, center, null,null);
  @include size(null, 90px, 0px, 100px);
  transition: top 0.3s;
  background-color: #181818;
  position:relative;
}
.fixed{
  position:fixed;
  z-index:1;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #c7b66b;
}

.navbar-logo {
  cursor: pointer;
}

.navbar-list {
  list-style: none;
  @include flex(space-between, center, 50px,null);
  li {
    :hover{
     color: #e3d285;
    }
    cursor: pointer;
    position: relative;
    :before{
      content: "";
      @include position(120%,null,0,null);
      @include d-box(2px,0,null,null);
      background-color:#e3d285;
      transition: all 0.5s linear;
    }
     :hover:before{
      width: 100%;
     }
  }
}
.navlink {
  @include font(450,null,null,#e3d285,null);
  text-decoration: none;
  padding-bottom: 10px;
}
.active {
  text-decoration: none;
  color:#c7b66b;
  font-weight: 500;
}
.active:after{
  content: "";
  @include position(120%,null,0,null);
  @include d-box(2px,100%,null,null);
  background-color:#e3d285;
  transition: all 0.5s linear;
}
.ham-icon{
  display: none;
  cursor: pointer;
}
.cart-icon{
  cursor: pointer;
}
@media only screen and (max-width:1044px){
  .navbar-list{
    gap:25px;
  }
}
@media only screen and (max-width:869px){
  .navbar-list{
    gap:10px;
  }
}
@media only screen and (max-width:794px){
  .navbar-list{
    li{
      display: none;
    }
  }
  .ham-icon{
    display: block;
  }
}