@import'mixin.scss';

.product-detail-container {
    margin-top: 7rem;

    .product-header {
        @include all-header();

        h2 {
            @include font(600, 40px, 40px, #24272E, null);
        }

        p {
            @include font(400, 18px, 27px, #667085, null);
        }
    }

    .product-detail {
        @include flex(space-around, null, null, null);
        margin-top: 8rem;
        padding: 0px 6rem;

        .selected-product {
            width: 45rem;
            padding: 10px;
            background-color: #f2f2f2;

            .selected-product__container {

                div:nth-child(1) {
                    @include flex(cenetr, null, 50px, null);

                    .selected-product__image {
                        height: 25rem;
                        width: 20rem;
                        border-radius: 5px;
                    }

                    .selected-product__headings {
                        @include flex(null, null, 20px, column);

                        h2 {
                            @include font(600, 28px, 28px, #24272E, null);
                        }

                        p {
                            @include font(400, 16px, 16px, #667085, null);

                            span {
                                cursor: pointer;
                                @include font(500, 16px, 16px, #94652b, null);

                                &:hover {
                                    filter: brightness(80%);
                                }
                            }
                        }

                        button {
                            @include font(bold, 15px, null, #fff, null);
                            @include button(45px, 170px, 5px, 5px, #94652b);

                            &:hover {
                                filter: brightness(90%);
                            }
                        }

                        p:nth-child(2) {
                            @include font(400, 18px, 18px, #667085, null);
                        }
                    }
                }

                .selected-product__description {
                    text-align: justify;
                    margin-top: 30px;

                    h2 {
                        @include font(600, 28px, 28px, #24272E, null);
                        margin-bottom: 20px;
                    }

                    p {
                        @include font(400, 16px, 25px, #667085, null);
                    }
                }
            }
        }
    }

    .related-products {
        margin-top: 30px;

        h2 {
            @include font(600, 28px, 28px, #24272E, null);
            margin-bottom: 20px;
        }
    }

    .sub-product {
        @include flex(space-around, null, null, column);
        background-color: #f2f2f2;
        padding: 10px;
        width: 18rem;
        height: 36rem;

        .product {
            h2 {
                @include font(600, 20px, 20px, #24272E, null);
                text-align: center;
                width: auto;
                padding-bottom: 15px;
                margin: 15px 0px;
                border-bottom: 2px solid #94652b;
            }

            .product-items {
                @include flex(space-around, center, 20px, null);
                padding: 14px 10px;
                border-bottom: 1px solid #667085;

                h3 {
                    @include font(500, 17px, 19px, #24272E, null);
                }

                p {
                    @include font(400, 13px, 24px, #667085, null);
                }

                .product-items__image {
                    height: 2.7rem;
                    width: 2.7rem;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .category {
            h2 {
                @include font(600, 20px, 20px, #24272E, null);
                text-align: center;
                width: auto;
                padding-bottom: 15px;
                margin: 15px 0px;
                border-bottom: 2px solid #94652b;
            }

            ul {
                list-style: none;
                @include flex(space-around, null, 15px, column);

                li {
                    @include font(500, 15px, 17px, #24272E, null);
                    cursor: pointer;

                    &:hover {
                        color: #94652b;
                    }
                }
            }
        }
    }
}