@import'mixin.scss';

.product-detail-container {
    @include fade();
    margin: 6rem 0;
    padding: 0px 5.5rem;

    .product-header {
        @include all-header();

        h2 {
            @include font(600, 40px, 40px, #24272E, null);
        }

        p {
            @include font(400, 18px, 27px, #667085, null);
        }
    }

    .product-detail {
        @include flex(space-between, null, null, null);
        margin-top: 8rem;
        flex-wrap: wrap;

        .selected-product {
            width: 50rem;
            padding: 10px;
            background-color: #f2f2f2;

            .selected-product__container {

                div:nth-child(1) {
                    @include flex(null, null, 50px, null);
                    flex-wrap: wrap;

                    .selected-product__image {
                        height: 25rem;
                        width: 20rem;
                        object-fit: cover;
                        border-radius: 5px;
                    }

                    .selected-product__headings {
                        @include flex(null, null, 20px, column);
                        flex-wrap: wrap;

                        h2 {
                            @include font(600, 28px, 28px, #24272E, null);
                        }

                        p {
                            @include font(400, 16px, 16px, #667085, null);

                            span {
                                cursor: pointer;
                                @include font(500, 16px, 16px, #94652b, null);

                                &:hover {
                                    filter: brightness(80%);
                                }
                            }
                        }

                        button {
                            @include font(bold, 15px, null, #fff, null);
                            @include button(45px, 170px, 5px, 5px, #94652b);

                            &:hover {
                                filter: brightness(90%);
                            }
                        }

                        p:nth-child(2) {
                            @include font(400, 18px, 18px, #667085, null);
                        }
                    }
                }

                .selected-product__description {
                    text-align: justify;
                    margin-top: 30px;

                    h2 {
                        @include font(600, 28px, 28px, #24272E, null);
                        margin-bottom: 20px;
                    }

                    p {
                        @include font(400, 16px, 25px, #667085, null);
                    }
                }
            }
        }

        .related-products {
            margin-top: 50px;

            h2 {
                @include font(600, 28px, 28px, #24272E, null);
                margin-bottom: 40px;
            }

            .card-container {
                @include flex(center, null, 49px, null);
                flex-wrap: wrap;
            }
        }

    }
}

@media only screen and (max-width:1068px) {
    .product-detail {
        display: grid;
        justify-content: center;

        .sideNav {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width:507px) {
    .product-detail-container {
        margin: 4rem 0;
        padding: 0px;

        .product-header {
            @include header-small();
        }

        .product-detail {
            margin: 2.5rem 0;

            .selected-product {
                .selected-product__container {
                    div:nth-child(1) {
                        gap: 60px;
                        justify-content: center;

                        .selected-product__image {
                            height: 20rem;
                            width: 15rem;
                        }

                        .selected-product__headings {
                            @include flex(null, center, 15px, column);

                            h2 {
                                @include font(500, 23px, 28px, #24272E, null);
                            }

                            p:nth-child(2) {
                                @include font(400, 14px, 18px, #667085, null);
                            }
                        }
                    }

                    .selected-product__description {
                        text-align: justify;
                        margin-top: 40px;

                        h2 {
                            font-size: 24px;
                            margin-bottom: 17px;
                        }

                        p {
                            @include font(400, 15px, 20px, #667085, null);
                        }
                    }
                }
            }

            .related-products {
                margin-top: 50px;

                h2 {
                    font-size: 24px;
                    margin-bottom: 27px;
                }
            }

        }
    }
}

@media only screen and (max-width:419px) {
    .product-detail-container {
        .product-header {
            @include header-smaller();
        }

        .product-detail {

            .selected-product {
                .selected-product__container {
                    div:nth-child(1) {

                        .selected-product__headings {
                            @include flex(null, center, 15px, column);

                            h2 {
                                @include font(500, 17px, 28px, #24272E, null);
                            }

                            p:nth-child(2) {
                                @include font(400, 14px, 18px, #667085, null);
                            }
                        }
                    }

                    .selected-product__description {
                        h2 {
                            font-size: 21px;
                            margin-bottom: 17px;
                        }

                        p {
                            @include font(400, 13px, 20px, #667085, null);
                        }
                    }
                }
            }

            .related-products {
                margin-top: 50px;

                h2 {
                    font-size: 21px;
                    margin-bottom: 24px;
                }
            }

        }
    }
}