@import 'mixin.scss';

.product-container {
    @include all-container();
    @include fade();

    .product-container__header {
        @include all-header();

        h2 {
            @include font(600, 40px, 40px, #24272E, null);
        }

        p {
            @include font(400, 18px, 27px, #667085, null);
        }
    }

    .product-container__body {
        @include flex(center, null, 50px, null);

        .product-container__products {
            @include flex(space-between, null, 49px, null);
            flex-wrap: wrap;
            padding: 10px;
            width: 50rem;
            min-height: 46rem;
            padding: 10px;
            background-color: #f2f2f2;

        }
    }
}

.topNavigation {
    margin-top: -1rem !important;
    margin-bottom: 3rem;
}

.bottomPage {
    margin: 0 auto 1rem;
}

.navigation {
    margin-top: 3rem;
    padding: 0px 6rem;
    @include flex(center, null, 15px, null);

    button {
        @include font(bold, 15px, null, #fff, null);
        @include button(35px, 55px, 5px, 5px, #94652b);

        &:hover {
            filter: brightness(90%);
        }
    }

    .navigation-number {
        @include flex(center, center, 10px, null);

        p {
            @include font(500, 17px, 19px, #94652b, null);
            cursor: pointer;
        }

        .active-num {
            color: #24272E;
        }
    }
}

@media only screen and (max-width:1303px) {
    .product-container {
        .product-container__body {
            display: grid;
            justify-content: center;
        }
    }
}

@media only screen and (max-width:1030px) {
    .product-container {
        padding: 0px 0px;
    }
}

@media only screen and (max-width:899px) {
    .product-container {
        .product-container__body {
            .product-container__products {
                width: 40rem;
                justify-content: center;
                margin: 0 auto;
                padding: 0;
            }
        }
    }
}

@media only screen and (max-width:757px) {
    .product-container {
        .product-container__body {
            .product-container__products {
                width: 30rem;
                justify-content: center;
            }
        }
    }
}

@media only screen and (max-width:507px) {
    .product-container {
        margin: 4rem 0;
        padding: 0px;

        .product-container__header {
            @include header-small();
        }

        .product-container__body {
            .product-container__products {
                width: 15rem;
                justify-content: center;
            }
        }
    }

    .topNavigation {
        margin-top: -3rem !important;
    }

    .navigation {

        button {
            @include font(bold, 13px, null, #fff, null);
            @include button(35px, 53px, 5px, 5px, #94652b);
        }

        .navigation-number {

            p {
                @include font(500, 15px, 19px, #94652b, null);
            }
        }
    }
}

@media only screen and (max-width:419px) {
    .product-container {
        padding: 0px;

        .product-container__header {
            @include header-smaller();
        }

        .product-container__body {
            justify-content: center;
            padding: 0px;

            .product-container__products {
                padding: 0px;
                width: auto;
            }
        }
    }
}

@media only screen and (max-width:369px) {
    .navigation {
        padding: 0;
    }
}