@import 'mixin.scss';

.sideNav-container {
    @include flex(space-around, null, 10px, column);
    background-color: #f2f2f2;
    padding: 10px;
    width: 18rem;
    height: auto;

    .product {
        h2 {
            @include font(600, 20px, 20px, #24272E, null);
            text-align: center;
            padding-bottom: 15px;
            margin: 15px 0px;
            border-bottom: 2px solid #94652b;
        }

        .product-items {
            @include flex(space-between, null, null, null);
            flex-wrap: wrap;
            padding: 14px 10px;
            border-bottom: 1px solid #667085;

            h3 {
                @include font(500, 17px, 19px, #24272E, null);
                cursor: pointer;

                &:hover {
                    color: #94652b;
                }
            }

            p {
                @include font(400, 13px, 24px, #667085, null);
            }

            .product-items__image {
                cursor: pointer;
                height: 2.7rem;
                width: 2.7rem;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .category {
        padding-bottom: 10px;

        h2 {
            @include font(600, 20px, 20px, #24272E, null);
            text-align: center;
            padding-bottom: 15px;
            margin: 15px 0px;
            border-bottom: 2px solid #94652b;
        }

        ul {
            list-style: none;
            @include flex(null, center, 15px, column);
            padding: 0px;

            li {
                @include font(500, 15px, 17px, #24272E, null);
                cursor: pointer;

                &:hover {
                    color: #94652b;
                }
            }

            .activeElement {
                color: #94652b;
            }
        }
    }
}

@media only screen and (max-width:1303px) {
    .sideNav-container {
        margin-top: 4rem;
        width: 45rem;
        background-color: #fff;
        @include flex(center, null, 3rem, row);

        .product {
            background-color: #f2f2f2;
            width: 22rem;
        }

        .category {
            background-color: #f2f2f2;
            width: 22rem;

            ul {
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width:900px) {
    .sideNav-container {
        width: 40rem;

        .product {
            width: 17rem;
        }

        .category {
            width: 17rem;
        }
    }
}

@media only screen and (max-width:731px) {
    .sideNav-container {
        width: auto;
        flex-direction: column;
        align-items: center;
    }
}